{% extends "layouts.html" %}

{% block title %}
My To-Do List
{% endblock %}

{% block body %}
<h1> To-Do </h1>
<table id="todo" style="border=1px">
  <tr>
    <th>Date</th>
    <th>Task</th>
    <th>More</th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{ task.date }}</td>
      <td>{{ task.task }}</td>
      <td> <button><a href="/delete/{{ task.id }}">Delete</a></button>
        <br>
        <button><a href="/update/{{ task.id }}">Update</a></button>
        </td>
    </tr>
  {% endfor %}
</table>
<form action="{{ url_for('index') }}" method="POST">
  <input type="text" name="task" id="content" placeholder="Enter Note Here">
  <input type="submit" value="Add Task">
</form>
{% endblock %}
